

 <form id="new-book-form" class="panel panel-default" enctype="multipart/form-data" ng-submit="create();">
    <header class="panel-heading form-header">
        <a class="btn btn-default btn-traslucid pull-left" href="#book/list">
            <i class="material-icons">arrow_back</i>
        </a>
        <span>Nueva Marca</span>
        <button class="btn  btn-traslucid btn-default pull-right" type="submit" data-toggle="modal" data-target="#dialog-modal">
            <i class="material-icons">save</i>
        </button>
    </header>
        <div class="panel-body row">
            <fieldset class="col-sm-6 col-md-8">
                <legend>Informacion De La Marca</legend>
                <div class="form-group form-group-lg">
                                         
                        <div class="col-xs-12 col-md-8" aling="center">
                            <label for="title" aling="center">Nombre:</label>
                            <input type="text" class="form-control" id="title" name="title" ng-model="newData.title" required aling="center"> </div>
                            <div class="col-xs-12">
                            <b></b>
                            <br>      
                                <div class="col-xs-12" aling="center">
                                    <label for="description" aling="center">Description:</label>
                                    <textarea class="form-control"  id="description" name="description" ng-model="newData.description"rows="10"></textarea>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="col-sm-6 col-md-4">
                            <legend>Logo</legend>
                            <div class="form-group">
                                <figure> <img id="preview-img" class="img-responsive center-block" ng-src="{{imageFromBackend(newData.cover)}}" alt="Book´s cover" width="60%" /> </figure>
                                <br/>
                                <label class="btn btn-default btn-lg btn-block">
                                    <input id="upload-input" name="cover" style="display:none;" type="file" accept="image/*" onchange="angular.element(this).scope().showPreviewImg('preview-img', this)"> <span class="glyphicon glyphicon-upload"  ></span> UPLOAD </label>
                                </div>
                            </fieldset>
                        </div>
                    </form>

<div ng-include="'/admin/response-dialog-view'"></div>  